<nav role="navigation" class="nav-collapse">
	<ul class="navigation">
		<li class="navigation__item">
			<a class="navigation__action--active" href="index.html">Latest</a>
		</li>
		<li class="navigation__item">
			<a class="navigation__action" href="story.html">Story</a>
		</li>
		<li class="navigation__item">
			<a class="navigation__action" href="songs.html">Songs</a>
		</li>
		<li class="navigation__item">
			<a class="navigation__action" href="media.html">Media</a>
		</li>
		<li class="navigation__item">
			<a class="navigation__action" href="booking.html">Booking</a>
		</li>
	</ul>
</nav>
