---
title: "Bobby Black & The Runnin' Kind: We're taking our country back"
---
<div class="page">

	<h1 class="section-headline">Upcoming Events</h1>

	<div class="events">
		<dl class="events__list">
			<div class="events__item">
				<div class="event">
					<dt class="event__title">Bobby Black's Dateline Viewing Party</dt>
					<span class="event__location">
						<a href="https://www.google.com/maps/place/Jamboozies+Sports+Bar+%26+Grill/@42.602424,-83.03,17z/data=!3m1!4b1!4m2!3m1!1s0x8824dc59f6d2f34f:0x94896413e2b41b48">Jamboozie's Sports Bar &amp; Grill</a>
					</span>
					<dd class="event__details">
						<time class="event__schedule" datetime="2014-06-08 19:00">
							<span class="event__date">06/08/2014</span>
							<span class="event__time">7:00PM</span>
						</time>
					</dd>
				</div>
			</div>
		</dl>
	</div>

</div>
