---
title: "Song List | Bobby Black & The Runnin' Kind"
---
<div class="page">

	<h1 class="section-headline">Songs</h1>

	<div class="songs">
		<dl class="illustrated-list">

				<div class="song">
					<dt class="song__title">Od’d in Denver</span>
					<dd class="song__artist">Hank Williams Jr.</span>
				</div>

				<div class="song">
					<dt class="song__title">Fearless Heart</span>
					<dd class="song__artist">Steve Earle</span>
				</div>

				<div class="song">
					<dt class="song__title">Straight to Hell</span>
					<dd class="song__artist">Hank Williams 3</span>
				</div>

				<div class="song">
					<dt class="song__title">Mamas Don’t Let Your Babies</span>
					<dd class="song__artist">Waylong Jennings & Willie Nelson</span>
				</div>

				<div class="song">
					<dt class="song__title">Running Kind</span>
					<dd class="song__artist">Merle Haggard</span>
				</div>

				<div class="song">
					<dt class="song__title">The Fugitive</span>
					<dd class="song__artist">Merle Haggard</span>
				</div>

				<div class="song">
					<dt class="song__title">Cocaine Blues</span>
					<dd class="song__artist">Johnny Cash / Hank Williams 3</span>
				</div>

				<div class="song">
					<dt class="song__title">Hot Rod Lincoln</span>
					<dd class="song__artist">Commander Cody & The Lost Planet Airmen</span>
				</div>

				<div class="song">
					<dt class="song__title">Heard it in a Love Song</span>
					<dd class="song__artist">Marshall Tucker</span>
				</div>

				<div class="song">
					<dt class="song__title">Guitar Town</span>
					<dd class="song__artist">Steve Earle</span>
				</div>

				<div class="song">
					<dt class="song__title">Tiger By The Tail</span>
					<dd class="song__artist">Buck Owens</span>
				</div>

				<div class="song">
					<dt class="song__title">Streets of Bakersfield</span>
					<dd class="song__artist">Dwight Yoakum & Buck Owens</span>
				</div>

				<div class="song">
					<dt class="song__title">Pretty Little Lie</span>
					<dd class="song__artist">Original </span>
				</div>

				<div class="song">
					<dt class="song__title">Amarillo By Morning</span>
					<dd class="song__artist">George Strait</span>
				</div>

				<div class="song">
					<dt class="song__title">Pancho and Lefty</span>
					<dd class="song__artist">Merle Haggard & Willie Nelson</span>
				</div>

				<div class="song">
					<dt class="song__title">Falling and Flying</span>
					<dd class="song__artist">Jeff Bridges (from the movie Crazy Heart) </span>
				</div>

				<div class="song">
					<dt class="song__title">One Piece at a Time</span>
					<dd class="song__artist">Johnny Cash</span>
				</div>

				<div class="song">
					<dt class="song__title">Good Hearted Woman</span>
					<dd class="song__artist">Waylon Jennings & Willie Nelson</span>
				</div>

				<div class="song">
					<dt class="song__title">Cherokee Boogie</span>
					<dd class="song__artist">Johnny Horton</span>
				</div>

				<div class="song">
					<dt class="song__title">6 Days on the Road</span>
					<dd class="song__artist">Dave Dudley</span>
				</div>

				<div class="song">
					<dt class="song__title">45 and a Shovel</span>
					<dd class="song__artist">The Orbitsuns</span>
				</div>

				<div class="song">
					<dt class="song__title">Copperhead Road</span>
					<dd class="song__artist">Steve Earle</span>
				</div>

				<div class="song">
					<dt class="song__title">Delia’s Gone</span>
					<dd class="song__artist">Johnny Cash</span>
				</div>

				<div class="song">
					<dt class="song__title">Set Em Up joe</span>
					<dd class="song__artist">Vern Gosdin</span>
				</div>

				<div class="song">
					<dt class="song__title">Luckenbach Texas</span>
					<dd class="song__artist">Waylon and Willie</span>
				</div>

				<div class="song">
					<dt class="song__title">Spanish Eyes</span>
					<dd class="song__artist">Willie Nelson</span>
				</div>

				<div class="song">
					<dt class="song__title">Angel Flying Too Close</span>
					<dd class="song__artist">Willie Nelson</span>
				</div>

				<div class="song">
					<dt class="song__title">Wasted Days and Wasted Nights</span>
					<dd class="song__artist">Freddy Fender</span>
				</div>

				<div class="song">
					<dt class="song__title">Don’t Close Your Eyes</span>
					<dd class="song__artist">Keith Whitley</span>
				</div>

				<div class="song">
					<dt class="song__title">I Don’t Know</span>
					<dd class="song__artist">Hank Williams III</span>
				</div>

				<div class="song">
					<dt class="song__title">Made in Japan</span>
					<dd class="song__artist">Buck Owens </span>
				</div>

				<div class="song">
					<dt class="song__title">Mama Tried</span>
					<dd class="song__artist">Merle Haggard</span>
				</div>

				<div class="song">
					<dt class="song__title">Jack Daniels If You Please</span>
					<dd class="song__artist">David Allen Coe</span>
				</div>

				<div class="song">
					<dt class="song__title">Who’s Gonna Fill Their Shoes</span>
					<dd class="song__artist">George Jones</span>
				</div>

				<div class="song">
					<dt class="song__title">Still Doin’ Time</span>
					<dd class="song__artist">George Jones</span>
				</div>

				<div class="song">
					<dt class="song__title">Let It Bleed / Dead Flowers</span>
					<dd class="song__artist">Rolling Stones</span>
				</div>

				<div class="song">
					<dt class="song__title">I’ll Never Get Out of This World Alive</span>
					<dd class="song__artist">Hank Williams Sr.</span>
				</div>

				<div class="song">
					<dt class="song__title">Silde Off of Your Satin Sheets</span>
					<dd class="song__artist">Johnny Paycheck</span>
				</div>

				<div class="song">
					<dt class="song__title">Octopus Garden</span>
					<dd class="song__artist">Beatles</span>
				</div>

				<div class="song">
					<dt class="song__title">Wild Horses</span>
					<dd class="song__artist">Bobby’s arrangement</span>
				</div>

				<div class="song">
					<dt class="song__title">Christine’s Tune</span>
					<dd class="song__artist">Flying Burrito Bros.</span>
				</div>

				<div class="song">
					<dt class="song__title">Gubmint Cheese</span>
					<dd class="song__artist">Original</span>
				</div>

				<div class="song">
					<dt class="song__title">Woe is Me</span>
					<dd class="song__artist">Original</span>
				</div>

				<div class="song">
					<dt class="song__title">I can Feel a Good One Comin’ on</span>
					<dd class="song__artist">Blackberry Smoke</span>
				</div>


				<div class="song">
					<dt class="song__title">Walk Hard</span>
					<dd class="song__artist">Dewey Cox (from the movie Walk Hard)</span>
				</div>

		</ul>
	</div>

</div>
