---
title: "Story | Bobby Black & The Runnin' Kind"
---
<div class="page">

	<h1 class="section-headline">Story</h1>

	<figure class="page-illustration">
		<%= image_tag "runnin-kind_acoustic.jpg" %>
	</figure>
	<p>Outlaw country is a subgenre of country music, most popular during the late 1950s thru 1970s (and even into the 1980s in some cases), sometimes referred to as the outlaw movement or simply outlaw music. The focus of the movement has been on "outlaws", such as Johnny Cash, Waylon Jennings, Merle Haggard, David Allan Coe , Willie Nelson, Kris Kristofferson, Leon Russell, Hank Williams Jr., Steve Earle, and more.</p>

	<p>Bobby Black and the Runnin' Kind, while hailing from Detroit, seeks to perform, promote and propogate this style of music through their live performances and recordings of both original songs as well as an eclectic group of covers.</p>

	<p>The band is the brainchild and partnership of Bobby Black and Billee Speelman. The two met about a year ago in 2013 and it was country kismet from the beginning. They knew one day an outlaw country band was inevitable. That day finally came and the Runnin' Kind became a reality. The addition of Harold Crisman on bass and Vince Speelman on drums rounded out the combo. Both additions are multi-instrumentalists who sing, write and add a youthful vibrance to the project. The band is frequently joined onstage by any of a multitude of professional local and national musicians.</p>
</div>
